<div class="body">
  <div class="header">
    <div class="app-title">Med on Demand</div>
    <div class="btn-containers">
      <button mat-button (click)="onLogin()">Autentificare</button>
      <button mat-button (click)="onRegister()">Cont Nou</button>
    </div>
  </div>
  <div class="main-page-content">
    <div class="banner-text">
      Consulta un doctor specializat instant printr-un videocall, 24/7
      <div>#statiacasa</div>
      <div class="sub-text-banner">
        Med on Demand iti permite sa vorbesti cu doctori experimentati din
        diferite parti ale tari la orice ora din zi si din noapte. <br /><br />
        Fiecare doctor din aplicatie este verificat, in acest fel, puteti
        beneficia de cele mai bune servicii.
      </div>
    </div>
    <img class="logo-img" src="../../../../assets/img1.png" alt="" />
  </div>
  <div class="main-page-content-2">
    <div class="question-text">Cum functioneaza?</div>
    <div class="page-2-content">
      <div class="steps">
        <div class="step">
          <img src="../../../../assets/icon1.svg" alt="" />
          <div>
            <div class="step-title">Alege o specializare</div>
            <div class="step-text">
              Pe baza simptomelor aparute, selecteaza o specializare
              (Cardiologie, Psihologie etc.)
            </div>
          </div>
        </div>
        <div class="step">
          <img src="../../../../assets/icon2.svg" alt="" />
          <div>
            <div class="step-title">Consulta un doctor</div>
            <div class="step-text">
              Te poti conecta instant cu un doctor specialist ce iti va explica
              posibilele cauze ale simptomelor aparute
            </div>
          </div>
        </div>
        <div class="step">
          <img src="../../../../assets/icon3.svg" alt="" />
          <div>
            <div class="step-title">Primesti diagnosticul si recomandari</div>
            <div class="step-text">
              In urma stabilirii diagnosticului, medicul iti va prescrie o
              reteta(daca este cazul) sau iti va spune care sunt urmatorii pasi
              de urmat
            </div>
          </div>
        </div>
        <div class="step">
          <img src="../../../../assets/icon4.svg" alt="" />
          <div>
            <div class="step-title">Monitorizare gratuita</div>
            <div class="step-text">
              Daca mai exista nelamuriri poti contacta specialistul gratuit inca
              3 zile luratoare
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
      <img class="logo-img-2" src="../../../../assets/img2.png" alt="" />
    </div>
  </div>
</div>
