<app-top-menu></app-top-menu>
<div class="home-content">
  <app-navbar></app-navbar>
  <div class="main-content">
    <div class="title">ABONAMENTE</div>
    <div class="content">
      <div class="subscription-details">
        <div class="title-s">
          Comfort
          <div class="price">65 Lei/luna</div>
        </div>
        <div class="sub-content">
          <div class="content">
            <ul>
              <li>
                <strong>3 consultatii</strong>
                de medicina generala
              </li>
              <li>
                <strong>set anual de analize</strong>
              </li>
              <li>
                <strong>30% discount</strong>
                la analize de laborator
              </li>
              <li>
                <strong>30% discount</strong>
                la investigatii medicale complexe
              </li>
              <li>
                <strong>Hotline medical 24/7</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="subscription-details">
        <div class="title-s">
          Comfort Plus
          <div class="price">105 Lei/luna</div>
        </div>
        <div class="sub-content">
          <div class="content">
            <ul>
              <li>
                <strong>6 consultatii</strong>
                de medicina generala
              </li>
              <li>
                <strong>set anual de analize</strong>
              </li>
              <li>
                <strong>6 controale </strong> la peste 20 de specialitati
                medicale
              </li>
              <li>
                <strong>50% discount</strong>
                la analize de laborator
              </li>
              <li>
                <strong>50% discount</strong>
                la imagistica si investigatii medicale
              </li>
              <li>
                <strong>30% discount</strong>
                la investigatii medicale complexe
              </li>
              <li>
                <strong>Hotline medical 24/7</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="subscription-details">
        <div class="title-s">
          Comfort Extra
          <div class="price">180 Lei/luna</div>
        </div>
        <div class="sub-content">
          <div class="content">
            <ul>
              <li>
                <strong>consultatii nelimitate</strong>
                de medicina generala
              </li>
              <li>
                <strong>set anual de analize</strong>
              </li>
              <li>
                <strong>consultatii nelimitate</strong>
                la peste 20 de specialitati
              </li>
              <li>
                <strong>30% discount</strong>
                la analize de laborator
              </li>
              <li>
                <strong>50% discount</strong>
                la imagistica si investigatii medicale
              </li>
              <li>
                <strong>50% discount</strong>
                la investigatii medicale complexe
              </li>
              <li>
                <strong>Hotline medical 24/7</strong>
              </li>
              <li>
                <strong>20% discount</strong>
                la investigatii medicale in clinici partenere
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="subscription-details">
        <div class="title-s">
          Comfort Premium
          <div class="price">400 Lei/luna</div>
        </div>
        <div class="sub-content">
          <div class="content">
            <ul>
              <li>
                <strong>consultatii nelimitate</strong>
                de medicina generala
              </li>
              <li>
                <strong>set anual de analize</strong>
              </li>
              <li>
                <strong>consultatii si controale nelimitate</strong>
                la peste 20 de specialitati
              </li>
              <li>
                <strong>100% discount</strong>
                la analize de laborator
              </li>
              <li>
                <strong>50% discount</strong>
                la imagistica si investigatii medicale
              </li>
              <li>
                <strong>50% discount</strong>
                la investigatii medicale complexe
              </li>
              <li>
                <strong>Hotline medical 24/7</strong>
              </li>
              <li>
                <strong>20% discount</strong>
                la investigatii medicale in clinici partenere
              </li>
              <li>
                <strong>100% discount</strong>
                la toti medicii din retea
              </li>
              <li>
                <strong>15% discount</strong>
                la toti medicii din retea
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
