.home-content {
  display: flex;
}
.main-content {
  margin-top: 90px;
  margin-left: 60px;
}
.title {
  color: #242f9b;
  font-weight: 700;
  font-size: 22px;
}
.subscription-details {
  margin-top: 30px;
  width: 300px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-right: 30px;
}
.content {
  display: flex;
  margin-right: 20px;
}
.title-s {
  padding-top: 15px;
  text-align: center;
  color: #ff0063;
  font-size: 17px;
  font-weight: normal;
}
.price {
  padding-top: 5px;
  font-size: 19px;
  font-weight: 600;
}
ul {
  color: #293462;
  padding-top: 10px;
  li {
    padding-bottom: 7px;
    font-size: 15px;
  }
}
