<app-top-menu></app-top-menu>
<div class="home-content">
  <app-navbar></app-navbar>
  <div class="main-content">
    <div class="title">SPECIALIZARI</div>
    <div class="container">
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s2.png" alt="" />
          <div class="details">
            <div class="title-s">Ginecologie</div>
            <div class="text">
              Este ramura medicinei care se ocupă cu fiziologia și tratarea
              afecțiunilor aparatului genital feminin
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s3.png" alt="" />
          <div class="details">
            <div class="title-s">Dermatologie</div>
            <div class="text">
              Reprezintă o specialitate medicală ce se ocupă de totalitatea
              fenomenelor patologice care se produc la nivelul organului cutanat
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s4.png" alt="" />
          <div class="details">
            <div class="title-s">Psihologie</div>
            <div class="text">
              Este stiinta care studiaza comportamentul si mintea umana
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s5.png" alt="" />
          <div class="details">
            <div class="title-s">Pediatrie</div>
            <div class="text">
              Este o specialitate medicală care se ocupă cu studiul și tratarea
              bolilor întâlnite la copii
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s6.png" alt="" />
          <div class="details">
            <div class="title-s">Cardiologie</div>
            <div class="text">
              Cuprinde diagnosticul și tratamentul bolilor cardiace congenitale,
              bolii cardiace ischemice.
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s7.png" alt="" />
          <div class="details">
            <div class="title-s">Gastroenterologie</div>
            <div class="text">
              Este specialitatea medicală care se ocupă cu prevenirea,
              depistarea, diagnosticarea și tratarea bolilor tubului digestiv și
              ale organelor anexe
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s8.png" alt="" />
          <div class="details">
            <div class="title-s">Pneumologie</div>
            <div class="text">
              Este o ramură a medicinei care studiază aparatul respirator în
              condiții normale și patologice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s9.png" alt="" />
          <div class="details">
            <div class="title-s">Neurologie</div>
            <div class="text">
              Structurile organice ce țin de domeniul neurologiei sunt - pe de o
              parte - creierul, măduva spinării
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s10.png" alt="" />
          <div class="details">
            <div class="title-s">Dietetica</div>
            <div class="text">
              Este ramura a medicinei care se ocupă cu studiul și stabilirea
              regimurilor alimentare.
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s11.png" alt="" />
          <div class="details">
            <div class="title-s">Diabet zaharat si boli metabolice</div>
            <div class="text">
              Se ocupă, în principal, de boli cronice netransmisibile precum
              diabetul zaharat, obezitatea
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s12.png" alt="" />
          <div class="details">
            <div class="title-s">Homeopatie</div>
            <div class="text">
              Este o metoda de tratament care stimuleaza tendinta naturala de
              vindecare a organismului
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
