<app-top-menu></app-top-menu>
<div class="home-content">
  <app-navbar></app-navbar>
  <div class="main-content">
    <div class="title">SPECIALIZARI</div>
    <div class="container">
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
      <div class="speciality-container">
        <div class="speciality">
          <img src="../../../../assets/s1.png" alt="" />
          <div class="details">
            <div class="title-s">Medicina Generala</div>
            <div class="text">
              Se concentrează pe tratarea unei game largi de afecțiuni și boli
              acute și cronice
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
