<app-top-menu></app-top-menu>
<div class="home-content">
  <app-navbar></app-navbar>
  <div>
    <!-- <div class="welcome-msg">Bine ai venit, Popa Raluca!</div> -->
    <div *ngIf="currentURL === '/home'">
      <div class="content">
        <div></div>
        <div class="title">DOCTORI</div>
        <div class="top-doctors-list">
          <div class="doctor-info">
            <div class="top-info">
              <img
                class="profile-img"
                src="../../../../assets/img4.jpg"
                alt=""
              />
              <div class="doctor-name">Dr. Popa Raluca</div>
            </div>
            <div class="info-section">
              <div class="low-title">Specializare</div>
              <div class="specialization">Medicina Muncii</div>
            </div>
            <div class="info-section">
              <div class="low-title">Nota</div>
              <div class="specialization">9.5/10</div>
            </div>
            <div class="btn-container">
              <button class="btn-appointement" mat-button>
                Solicita Programare
              </button>
            </div>
          </div>
          <div class="doctor-info">
            <div class="top-info">
              <img
                class="profile-img"
                src="../../../../assets/img4.jpg"
                alt=""
              />
              <div class="doctor-name">Dr. Popa Raluca</div>
            </div>
            <div class="info-section">
              <div class="low-title">Specializare</div>
              <div class="specialization">Medicina Muncii</div>
            </div>
            <div class="info-section">
              <div class="low-title">Nota</div>
              <div class="specialization">9.5/10</div>
            </div>
            <div class="btn-container">
              <button class="btn-appointement" mat-button>
                Solicita Programare
              </button>
            </div>
          </div>
          <div class="doctor-info">
            <div class="top-info">
              <img
                class="profile-img"
                src="../../../../assets/img4.jpg"
                alt=""
              />
              <div class="doctor-name">Dr. Popa Raluca</div>
            </div>
            <div class="info-section">
              <div class="low-title">Specializare</div>
              <div class="specialization">Medicina Muncii</div>
            </div>
            <div class="info-section">
              <div class="low-title">Nota</div>
              <div class="specialization">9.5/10</div>
            </div>
            <div class="btn-container">
              <button class="btn-appointement" mat-button>
                Solicita Programare
              </button>
            </div>
          </div>
          <div class="doctor-info">
            <div class="top-info">
              <img
                class="profile-img"
                src="../../../../assets/img4.jpg"
                alt=""
              />
              <div class="doctor-name">Dr. Popa Raluca</div>
            </div>
            <div class="info-section">
              <div class="low-title">Specializare</div>
              <div class="specialization">Medicina Muncii</div>
            </div>
            <div class="info-section">
              <div class="low-title">Nota</div>
              <div class="specialization">9.5/10</div>
            </div>
            <div class="btn-container">
              <button class="btn-appointement" mat-button>
                Solicita Programare
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
