.title {
  height: 40px;
  color: #242f9b;
  background-color: #dbdffd;
  vertical-align: middle;
  margin-bottom: 35px;
  padding-top: 15px;
  padding-left: 30px;
}
.content {
  margin-left: 30px;
  margin-bottom: 20px;
  color: #242f9b !important;
}
input {
  margin-left: 20px;
  margin-bottom: 10px;
}
.yes-btn {
  background-color: #242f9b !important;
  color: white !important;
}
.info-input {
  height: 25px;
  border: 1px solid #242f9b;
  font-size: 14px;
  border-radius: 5px;
  height: 35px;
  width: 345px;
  background-color: #f9f9f9;
}
.label {
  font-weight: 600;
  color: #242f9b !important;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
