<app-top-menu></app-top-menu>
<div class="home-content">
  <app-navbar></app-navbar>
  <div class="main-content">
    <div class="title">PROGRAMARI</div>
    <div class="search-consultation">
      <input
        class="search-input"
        type="text"
        placeholder="Cauta o programare"
        [(ngModel)]="searchText"
        (keyup)="onSearchInput($event)"
      />
      <mat-icon class="search-icon" (click)="onSearch()">search</mat-icon>
      <button class="btn-appointement" mat-button>Programare online</button>
    </div>
    <div class="summary">
      <div class="summary-content">
        <div class="number">2</div>
        <div class="text">
          programari <br />
          viitoare
        </div>
      </div>
      <div class="vertical-line"></div>
      <div class="summary-content">
        <div class="number-2">7</div>
        <div class="text-2">programari onorate</div>
      </div>
      <div class="vertical-line"></div>
      <div class="summary-content">
        <div class="number-3">3</div>
        <div class="text-3">programari neonorate</div>
      </div>
    </div>
    <div class="content">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <ng-container matColumnDef="doctor_name">
          <th mat-header-cell *matHeaderCellDef>Nume doctor</th>
          <td mat-cell *matCellDef="let element">{{ element.doctor_name }}</td>
        </ng-container>

        <ng-container matColumnDef="specialisation">
          <th mat-header-cell *matHeaderCellDef>Specializare</th>
          <td mat-cell *matCellDef="let element">
            {{ element.specialisation }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Ora</th>
          <td mat-cell *matCellDef="let element">
            {{ element.time }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Statut</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              *ngIf="element.status === 'programare onorata'"
              class="yellow"
              >circle</mat-icon
            >
            <mat-icon
              *ngIf="element.status === 'programare viitoare'"
              class="green"
              >circle</mat-icon
            >
            <mat-icon
              *ngIf="element.status === 'programare neonorata'"
              class="red"
              >circle</mat-icon
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="settings">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>settings</mat-icon>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="delete-icon">delete</mat-icon>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
